<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idouban.mapper.ArticleMapper">

    <resultMap id="ArticleResultMap" type="com.idouban.model.Article">
        <id column="article_id" property="articleId"/>
        <result column="title" property="title"/>
        <result column="tag_name" property="tagName"/>
        <result column="author" property="authorId"/>
        <result column="published_time" property="publishedTime"/>
        <result column="tag_id" property="tagId"/>
        <result column="content" property="content"/>
        <result column="star" property="starNum"/>
        <result column="collection" property="collectionNum"/>
        <result column="comment" property="commentNum"/>
        <result column="share" property="shareNum"/>
        <result column="page_view" property="pageView"/>
        <result column="stick" property="stick"/>
    </resultMap>

    <resultMap id="ArticleListResultMap" type="com.idouban.model.ArticleList">
        <id column="article_id" property="articleId"/>
        <result column="title" property="title"/>
        <result column="published_time" property="publishedTime"/>
        <result column="tag_name" property="tagName"/>
        <result column="author" property="authorId"/>
        <result column="share" property="shareNum"/>
        <result column="star" property="starNum"/>
        <result column="comment" property="commentNum"/>
        <result column="collection" property="collectionNum"/>
        <result column="content" property="content"/>
        <result column="stick" property="stick"/>
        <result column="page_view" property="pageView"/>
    </resultMap>

    <sql id="Base_Column_List">
        article_id, title, tag_name, author, published_time, tag_id, content,
        star, collection, comment, share, page_view, stick
    </sql>

    <select id="selectByArticleId" resultMap="ArticleResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM a_article
        WHERE article_id = #{articleId}
    </select>

    <insert id="insert" parameterType="com.idouban.model.Article" useGeneratedKeys="true" keyProperty="articleId">
        INSERT INTO a_article (title, tag_name, author, published_time, tag_id, content, stick)
        VALUES (#{title}, #{tagName}, #{authorId}, NOW(), #{tagId}, #{content}, 0)
    </insert>

    <update id="update" parameterType="com.idouban.model.Article">
        UPDATE a_article
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="tagName != null">tag_name = #{tagName},</if>
            <if test="tagId != null">tag_id = #{tagId},</if>
            <if test="content != null">content = #{content},</if>
        </set>
        WHERE article_id = #{articleId}
    </update>

    <delete id="delete">
        DELETE FROM a_article WHERE article_id = #{articleId}
    </delete>

    <select id="selectArticleListByPage" resultMap="ArticleListResultMap">
        SELECT a.article_id, a.title, a.published_time, a.tag_name, a.author,
               a.share, a.star, a.comment, a.collection, 
               SUBSTRING(a.content, 1, 200) as content, a.stick, a.page_view
        FROM a_article a
        ORDER BY a.stick DESC, a.published_time DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectArticleCount" resultType="int">
        SELECT COUNT(*) FROM a_article
    </select>

    <select id="selectByAuthorId" resultMap="ArticleListResultMap">
        SELECT article_id, title, published_time, tag_name, author,
               share, star, comment, collection,
               SUBSTRING(content, 1, 200) as content, stick, page_view
        FROM a_article
        WHERE author = #{authorId}
        ORDER BY published_time DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectCountByAuthorId" resultType="int">
        SELECT COUNT(*) FROM a_article WHERE author = #{authorId}
    </select>

    <select id="selectSearchByPage" resultMap="ArticleListResultMap">
        SELECT article_id, title, published_time, tag_name, author,
               share, star, comment, collection,
               SUBSTRING(content, 1, 200) as content, stick, page_view
        FROM a_article
        WHERE title LIKE CONCAT('%', #{searchContent}, '%')
           OR content LIKE CONCAT('%', #{searchContent}, '%')
        ORDER BY published_time DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectSearchCount" resultType="int">
        SELECT COUNT(*) FROM a_article
        WHERE title LIKE CONCAT('%', #{searchContent}, '%')
           OR content LIKE CONCAT('%', #{searchContent}, '%')
    </select>

    <update id="updateStarNum">
        UPDATE a_article SET star = star + #{num} WHERE article_id = #{articleId}
    </update>

    <update id="updateCollectionNum">
        UPDATE a_article SET collection = collection + #{num} WHERE article_id = #{articleId}
    </update>

    <update id="updateCommentNum">
        UPDATE a_article SET comment = comment + #{num} WHERE article_id = #{articleId}
    </update>

    <update id="updateShareNum">
        UPDATE a_article SET share = share + #{num} WHERE article_id = #{articleId}
    </update>

    <update id="updatePageView">
        UPDATE a_article SET page_view = page_view + 1 WHERE article_id = #{articleId}
    </update>

    <select id="selectCollectionByPage" resultMap="ArticleListResultMap">
        SELECT a.article_id, a.title, a.published_time, a.tag_name, a.author,
               a.share, a.star, a.comment, a.collection,
               SUBSTRING(a.content, 1, 200) as content, a.stick, a.page_view
        FROM a_article a
        INNER JOIN a_collection c ON a.article_id = c.article_id
        WHERE c.user_id = #{userId}
        ORDER BY c.collection_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectCollectionCount" resultType="int">
        SELECT COUNT(*) FROM a_collection WHERE user_id = #{userId}
    </select>

</mapper>
