<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idouban.mapper.ArticleInteractionMapper">

    <select id="checkArticleStar" resultType="int">
        SELECT COUNT(*) FROM a_star WHERE user_id = #{userId} AND type_id = #{articleId} AND type = 1
    </select>

    <insert id="insertArticleStar">
        INSERT INTO a_star (type_id, type, user_id) VALUES (#{articleId}, 1, #{userId})
    </insert>

    <delete id="deleteArticleStar">
        DELETE FROM a_star WHERE user_id = #{userId} AND type_id = #{articleId} AND type = 1
    </delete>

    <select id="checkArticleCollection" resultType="int">
        SELECT COUNT(*) FROM a_collection WHERE user_id = #{userId} AND article_id = #{articleId}
    </select>

    <insert id="insertArticleCollection">
        INSERT INTO a_collection (user_id, article_id) VALUES (#{userId}, #{articleId})
    </insert>

    <delete id="deleteArticleCollection">
        DELETE FROM a_collection WHERE user_id = #{userId} AND article_id = #{articleId}
    </delete>

    <select id="checkArticleShare" resultType="int">
        SELECT COUNT(*) FROM a_share WHERE user_id = #{userId} AND article_id = #{articleId}
    </select>

    <insert id="insertArticleShare">
        INSERT INTO a_share (user_id, article_id) VALUES (#{userId}, #{articleId})
    </insert>

</mapper>
