<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idouban.mapper.FriendMapper">

    <resultMap id="FriendResultMap" type="com.idouban.model.Friend">
        <id column="friend_id" property="friendId"/>
        <result column="from_user_id" property="fromUserId"/>
        <result column="to_user_id" property="toUserId"/>
        <result column="status" property="status"/>
        <result column="group_id" property="groupId"/>
    </resultMap>

    <resultMap id="UserResultMap" type="com.idouban.model.User">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="portrait" property="portrait"/>
        <result column="nickname" property="nickname"/>
        <result column="signature" property="signature"/>
        <result column="address" property="address"/>
    </resultMap>

    <insert id="insert" parameterType="com.idouban.model.Friend">
        INSERT INTO friend (from_user_id, to_user_id, status, group_id)
        VALUES (#{fromUserId}, #{toUserId}, #{status}, #{groupId})
    </insert>

    <update id="updateStatus">
        UPDATE friend SET status = #{status} 
        WHERE from_user_id = #{fromUserId} AND to_user_id = #{toUserId}
    </update>

    <delete id="delete">
        DELETE FROM friend WHERE from_user_id = #{fromUserId} AND to_user_id = #{toUserId}
    </delete>

    <select id="selectRelation" resultMap="FriendResultMap">
        SELECT * FROM friend WHERE from_user_id = #{fromUserId} AND to_user_id = #{toUserId}
    </select>

    <select id="selectFriendsByPage" resultMap="UserResultMap">
        SELECT u.user_id, u.username, u.portrait, u.nickname, u.signature, u.address
        FROM user u
        INNER JOIN friend f ON u.user_id = f.to_user_id
        WHERE f.from_user_id = #{userId} AND f.status = #{status}
        ORDER BY f.friend_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectFriendCount" resultType="int">
        SELECT COUNT(*) FROM friend WHERE from_user_id = #{userId} AND status = #{status}
    </select>

    <select id="selectSearchFriendsByPage" resultMap="UserResultMap">
        SELECT u.user_id, u.username, u.portrait, u.nickname, u.signature, u.address
        FROM user u
        INNER JOIN friend f ON u.user_id = f.to_user_id
        WHERE f.from_user_id = #{userId} AND f.status = #{status}
          AND (u.nickname LIKE CONCAT('%', #{searchContent}, '%') OR u.username LIKE CONCAT('%', #{searchContent}, '%'))
        ORDER BY f.friend_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectSearchFriendCount" resultType="int">
        SELECT COUNT(*)
        FROM friend f
        INNER JOIN user u ON f.to_user_id = u.user_id
        WHERE f.from_user_id = #{userId} AND f.status = #{status}
          AND (u.nickname LIKE CONCAT('%', #{searchContent}, '%') OR u.username LIKE CONCAT('%', #{searchContent}, '%'))
    </select>

    <select id="checkFollow" resultType="int">
        SELECT COUNT(*) FROM friend WHERE from_user_id = #{fromUserId} AND to_user_id = #{toUserId}
    </select>

    <insert id="insertGroup">
        INSERT INTO friend_group (group_name_to, user_id) VALUES (#{groupName}, #{userId})
    </insert>

    <select id="checkGroupExist" resultType="int">
        SELECT COUNT(*) FROM friend_group WHERE group_name_to = #{groupName} AND user_id = #{userId}
    </select>

    <select id="selectGroupId" resultType="int">
        SELECT group_id FROM friend_group WHERE group_name_to = #{groupName} AND user_id = #{userId}
    </select>

    <update id="updateFriendGroup">
        UPDATE friend SET group_id = #{groupId}
        WHERE from_user_id = #{fromUserId} AND to_user_id = #{toUserId}
    </update>

    <select id="selectFriendsByGroup" resultMap="UserResultMap">
        SELECT u.user_id, u.username, u.portrait, u.nickname, u.signature, u.address
        FROM user u
        INNER JOIN friend f ON u.user_id = f.to_user_id
        WHERE f.from_user_id = #{userId} AND f.group_id = #{groupId}
        ORDER BY f.friend_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectFriendCountByGroup" resultType="int">
        SELECT COUNT(*) FROM friend WHERE from_user_id = #{userId} AND group_id = #{groupId}
    </select>

</mapper>
